{% extends "base.html" %}

{% block title %}Pregled opreme{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}">
{% endblock %}

{% block content %}
<h1>Lista opreme</h1>

<form method="get" action="{{ url_for('equipment_bp.pregledaj_opremu') }}" style="text-align:center; margin-bottom: 20px;">
    <input type="text" name="search" placeholder="Pretraži po nazivu..." value="{{ search }}" style="padding: 8px; width: 250px;">
    
    <select name="kategorija" onchange="this.form.submit()" style="padding: 8px;">
        <option value="">Sve kategorije</option>
        {% for kat in kategorije %}
            <option value="{{ kat }}" {% if kat == odabrana_kategorija %}selected{% endif %}>{{ kat }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="iznajmi-dugme">Pretraži</button>
</form>

<table>
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Količina</th>
            <th>Kategorija</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in sva_oprema %}
        <tr class="{% if item.kolicina == 0 %}nedostupno{% endif %}">
            <td>{{ item.naziv }}</td>
            <td>{{ item.kolicina }}</td>
            <td>{{ item.kategorija }}</td>
            <td>
                {% if role in ['admin','laborant'] %}
                    <button class="izmijeni" type="submit">Izmijeni</button>
                    <button class="izbrisi" type="submit">Izbriši</button>
                {% else %}
                    {% if item.kolicina > 0 %}
                        <button class="iznajmi-dugme" type="submit">Iznajmi</button>
                    {% else %}
                        <button class="onemoguceno-dugme" disabled>Nije dostupno</button>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if role in ['admin', 'laborant'] %}
<div style="text-align: center; margin-bottom: 20px;">
    <a href="{{ url_for('equipment_bp.download_csv') }}">
        <button class="iznajmi-dugme">Preuzmi CSV</button>
    </a>
</div>
{% endif %}

{% endblock %}
