{% extends "base.html" %}

{% block title %}Oprema Form{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_eq.css') }}">
{% endblock %}

{% block content %}
<div class="container">
        <div class="center-content">
            <img src="/static/images/logo.png" alt="Logo" class="logo">
            <h1>Dodavanje opreme</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <p>{{ form.inventory_number.label }}{{ form.inventory_number(size=30) }}</p>
                <p>{{ form.name.label }}{{ form.name(size=30) }}</p>
                <p>{{ form.description.label }}{{ form.description(size=30) }}</p>
                <p>{{ form.serial_number.label }}{{ form.serial_number(size=30) }}</p>
                <p>{{ form.model_number.label }}{{ form.model_number(size=30) }}</p>
                <p>{{ form.supplier.label }}{{ form.supplier(size=30) }}</p>
                <p>{{ form.date_of_acquisition.label }}{{ form.date_of_acquisition(type="date") }}</p>
                <p>{{ form.warranty_until.label }}{{ form.warranty_until(type="date") }}</p>
                <p>{{ form.purchase_value.label }}{{ form.purchase_value(size=30) }}</p>
                <p>{{ form.project.label }}{{ form.project(size=30) }}</p>
                <p>{{ form.service_period.label }}{{ form.service_period(size=30) }}</p>
                <p>{{ form.next_service.label }}{{ form.next_service(type="date") }}</p>
                <p>{{ form.labaratory_assistant.label }}{{ form.labaratory_assistant(size=30) }}</p>
                <p>{{ form.location.label }}{{ form.location(size=30) }}</p>
                <p>{{ form.category.label }}{{ form.category(size=30) }}</p>
                <p>{{ form.available.label }}{{ form.available() }}</p>
                <p>{{ form.note.label }}{{ form.note(size=200) }}</p>
                <p>{{ form.submit() }}</p>
            </form>

            <h1>Dodaj opremu preko CSV-a</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept=".csv" required>
                <button type="submit">Dodaj</button>
            </form>
        </div>
</div>
{% endblock %}
