{# templates/browse/browse_macro.html #}

{% macro search_bar(action_url, search='') %}
<form method="get" action="{{ action_url }}" style="text-align:center; margin-bottom: 20px;">
    <input type="text" name="search" placeholder="Pretraži po nazivu..." value="{{ search }}" style="padding: 8px; width: 250px;">
    <button type="submit" class="iznajmi-dugme">Pretraži</button>
</form>
{% endmacro %}



{% macro equipment_row(item) %}
<tr class="{% if item.kolicina == 0 %}nedostupno{% endif %}">
    <td>{{ item.naziv }}</td>
    <td>
        {% if item.kolicina > 0 %}
            <span class="text-success fw-bold">Dostupno ({{ item.kolicina }})</span>
        {% else %}
            <span class="text-danger fw-bold">Nedostupno</span>
        {% endif %}
    </td>
</tr>
{% endmacro %}
