{# templates/browse/browse_equipment.html #}
{% extends "base.html" %}
{% block title %}Browse equipment{% endblock %}
{% import "browse/browse_macro.html" as macros %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}">
{% endblock %}

{% block content %}
<br>
<h1>Equipment</h1>

{{ macros.search_bar(url_for('equipment_bp.browse_equipment'), search) }}

<!-- {% if search %}
    <p>Rezultati pretrage za: <strong>{{ search }}</strong></p>
{% endif %} -->

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Serial number</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
    {% for equipment in equipment_list %}
    <tr>
        <td>
            {% if equipment.available %}
                <a href="{{ url_for('equipment_bp.equipment_detail', equipment_id=equipment.id) }}"
                   style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                    {{ equipment.name }}
                </a>
            {% else %}
                {{ equipment.name }}
            {% endif %}
        </td>
        <td>{{ equipment.serial_number or 'N/A' }}</td>
        <td>
            {% if equipment.available %}
                <span class="badge bg-success">Yes</span>
            {% else %}
                <span class="badge bg-danger">No</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>

</table>
{% endblock %}
